<style media="screen">
  body {
    margin-top: -10px;
    padding-top: 10px;
  }

  .jumbotron{
    padding-top:100px;
  }
</style>


<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Rails simple Authentication App.</p>
</div>
