<div class="text-left">
  <h1>Profile</h1>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>admin</td>
      <td>admin@example.com</td>
    </tr>
  </tbody>
</table>
